/* VARIABLES */
:root {
  --color-primario: #4e73df;
  --color-secundario: #1cc88a;
  --color-fondo: #f8f9fc;
  --color-texto: #333;
  --color-footer: #2e2e2e;
  --fuente-principal: "Segoe UI", sans-serif;
}
